In [1]:
import pandas as pd
import datetime as dt

In [2]:
# Create import paths

sales_path="Resources/sales-data-set.csv"
stores_path="Resources/stores-data-set.csv"

In [3]:
# Read Stores data

stores_df = pd.read_csv(stores_path)
stores_df.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [4]:
# Read Sales data

sales_df = pd.read_csv(sales_path)
sales_df.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False